/* ---Global styles--- */
@font-face {
    font-family: "Avenir LT Std";
    src: url(../fonts/Avenir-LT-Std-95-Black.otf);
    font-weight: 900;
}
@font-face {
    font-family: "Aeonik";
    src: url(../fonts/Aeonik-Light.otf);
    font-weight: 300;
}
@font-face {
    font-family: "Aeonik";
    src: url(../fonts/Aeonik-Regular.otf);
    font-weight: 400;
}
@font-face {
    font-family: "Aeonik";
    src: url(../fonts/Aeonik-Medium.otf);
    font-weight: 500;
}
@font-face {
    font-family: "Aeonik";
    src: url(../fonts/Aeonik-Bold.otf);
    font-weight: 700;
}
html{
    font-size: 16px;
}
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(#323232, #080707 10%);
}
.wrapper{
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 30px;
    box-sizing: border-box;
}
a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
}
hr{
    border: 1px solid #282828;
}
/* ---Header--- */
header .container{
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Aeonik';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
}
.logo a{
    display: flex;
    align-items: center;
    font-family: 'Avenir LT Std';
    font-weight: 900;
    font-size: 30px;
    line-height: 1.2;
}
.logo img{
    margin-right: 8px;
}
.menu-btn{
    display: none;
}
nav{
    flex-grow: 1;
}
nav > ul{
    display: flex;
    justify-content: end;
    list-style: none;
    gap: 25px;
    padding: 0 40px;
    margin: 0;
}
nav a{
    padding: 15px 8px;
}
nav a:hover{
    border: 1.5px solid #fff;
    border-radius: 10px;
}
.button{
    box-sizing: border-box;
    width: fit-content;
    min-width: 150px;
    height: fit-content;
    padding: 15px 3vw;
    border: 1.5px solid #fff;
    border-radius: 8px;
    text-align: center;
}
header .button:hover{
    background-color: rgba(255, 255, 255, 0.1);
}
/* ---Section Promo--- */
.container{
    text-align: center;
    box-sizing: border-box;
}
h1{
    font-family: 'Aeonik';
    font-weight: 700;
    font-size: 4rem;
    line-height: 1.2;
    color: #fff;
}
h1 span{
    color: #3775ED;
}
p{
    font-family: 'Aeonik';
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.2;
    color: #E5E5E5;
}
.get_buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 60px 0;
}
.get_buttons a:hover{
    background-color: #3775ED;
    border-color: #3775ed;
}
.banner{
    width: 100%;
    margin-bottom: 150px;
}
.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* ---Build Section--- */
h2{
    font-family: 'Aeonik';
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.2;
    color: #FFFFFF;
}
h3{
    font-family: 'Aeonik';
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.2;
}
.build_sites{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 60px;
    flex-wrap: wrap;
}
.build_site{
    width: calc((100% - 40px) / 3);
    min-width: 300px;
    padding: 40px 25px;
    color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
}
.orange{
    background-color: #C96408;
}
.violette{
    background-color: #7937BB;
}
.blue{
    background-color: #3775ED;
}
.build_site_icon img{
    border-radius: 10px;
    box-shadow: 0 5px 30px -5px #333;
}
.build_site_desc{
    font-family: 'Aeonik';
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.2;
}
/* ---Tools Section--- */
.tools .container{
    background-color: #1A1919;
    padding: 10%;
    margin: 25px 0 90px;
    border-radius: 10px;
    position: relative;
}
.tools h2{
    margin-top: 0;
}
.tool_desc{
    position: relative;
    z-index: 2;
    max-width: 630px;
    margin: 0 auto;
}
.tool_icon{
    width: 60px;
    height: 60px;
    position: absolute;
    opacity: 0.8;
}
.tool_icon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.icon_wf{
    top: 33px;
    left: 10%;
}
.icon_bubble{
    top: 25px;
    left: 50%;
}
.icon_react{
    top: 30px;
    right: 15%;
}
.icon_vue{
    top: 30%;
    right: 30px;
}
.icon_css3{
    top: 60%;
    left: 35px;
}
.icon_html5{
    left: 20%;
    bottom: 20px;
}
.icon_js{
    right: 35%;
    bottom: 25px;
}
.icon_python{
    right: 70px;
    bottom: 45px;
}
/* ---Developers Section--- */
.developers .container{
    text-align: left;
}
.members{
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    margin: 80px 0;
}
.member{
    width: calc((100% - 66px) / 4);
    min-width: 260px;
    position: relative;
}
.member_foto{
    width: 100%;
}
.member_foto img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.member_desc{
    position: absolute;
    width: 100%;
    height: 25%;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    padding: 10px 20px;
    background-color: rgba(9, 7, 7, 0.4);
    backdrop-filter: blur(12.5px);
}
.member_desc div:nth-child(2){
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.member_name{
    font-family: 'Aeonik';
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.2;
    color: #FFFFFF;
    margin-bottom: 8px;
}
.member_position{
    display: flex;
    align-items: center;
}
.member_position p{
    font-family: 'Aeonik';
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.2;
    color: #FFFFFF;
    margin: 0 0 0 5px;
}
.member_desc img{
    width: 20px;
    height: 20px;
}
.btn{
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
}
.developers .button:hover{
    background-color: #3775ED;
    border-color: #3775ed;
}
/* ---Testimonials Section--- */
.testimonials_grid{
    display: grid;
    gap: 27px 33px;
    grid-template-columns: repeat(3, 1fr);
    margin: 70px 0 150px;
}
.testimonial{
    background: #1A1919;
    border-radius: 10px;
    color: #fff;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    text-align: left;
}
.testi_person{
    display: flex;
    gap: 15px;
    align-items: center;
}
/* ---Ready Section--- */
.invisible{
    display: none;
}
.ready_block{
    background: rgba(0, 0, 0, 0.2) url(../img/result_banner.webp);
    background-blend-mode: saturation;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    text-align: left;
    padding: 10% 0 15% 9%;
    border-radius: 10px;
    margin: 150px auto;
}
.slogan{
    font-family: 'Aeonik';
    font-weight: 700;
    font-size: 3.125rem;
    line-height: 1.2;
    color: #FFFFFF;
}
/* ---Join Section--- */
.join .container{
    background-color: #3775ED;
    border-radius: 10px;
    margin: 50px auto;
    padding: 5% 20%;
}
.join .button{
    background-color: #1A1919;
    border: none;
    margin-top: 25px;
}
.join .button:hover{
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 2px -2px 3px 3px black;
}
.join h2{
    margin-top: 0;
}
/* ---Footer--- */
footer{
    display: flex;
    justify-content: space-between;
    font-family: 'Aeonik';
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.2;
    color: #FFFFFF;
    box-sizing: border-box;
    padding: 50px 0;
}
.social{
    display: flex;
    gap: 15px;
}



@media all and (max-width: 1170px){
    .members{
        justify-content: space-evenly;
    }
}

@media all and (max-width: 930px){
    .tools h2{
        font-size: 2.125rem;
        margin-bottom: 15px;
    }
    .tools p{
        font-size: 1.125rem;
        margin: 15px 0;
    }
    .tool_icon{
        width: 45px;
        height: 45px;
    }
}

@media all and (max-width: 690px){
    html{
        font-size: 14px;
    }
    .desctop{
        display: none;
    }
    .menu-btn{
        display: block;
    }
    h1{
        font-size: 3rem;
    }
    .banner{
        margin-bottom: 70px;
    }
    .tools .container{
        height: 350px;
        display: flex;
        align-items: center;
    }
    .testimonials_grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (max-width: 500px){
    html{
        font-size: 12px;
    }
    header a{
        display: none;
    }
    h1{
        font-size: 2rem;
    }
    .get_buttons{
        flex-wrap: wrap;
    }
    .get_buttons a{
        width: 100%;
    }
    .banner{
        margin-bottom: 50px;
        height: 300px;
    }
    .tool_icon{
        width: 30px;
        height: 30px;
    }
    .icon_css3{
        top: 70%;
    }
    .icon_python{
        right: 30px;
    }
    .icon_vue{
        top: 22%;
    }
    .testimonials_grid{
        grid-template-columns: 1fr;
        margin-bottom: 70px;
    }
    .ready_block{
        margin: 70px auto;
    }
    footer{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}